<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @volume.name %>
</p>

<p>
  <strong>Contracts:</strong>
  <%= @volume.contracts %>
</p>

<%= link_to 'Edit', edit_volume_path(@volume) %> |
<%= link_to 'Back', volumes_path %>
